{% extends 'base.html'%}

{% block body %}
<div class="container my-4">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img  src="https://source.unsplash.com/900x350/?book" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style=" background:black; border-radius:11px;">Welcome To The Shop Of Knowledge</h5>
        <p style=" background:black;border-radius:11px;">MADE BY ADITAYA SINGH </p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/900x350/?books" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style=" background:black;border-radius:11px;">Save Your Money And Increase Your Knowledge</h5>
        <p style=" background:black;border-radius:11px;">Buy,Sell Or Exchange Yours Books With Low Cost</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://source.unsplash.com/900x350/?notebook" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="background:black;border-radius:11px;">
            Sky Is Not The Limit Of Knowledge </h5>
        <p style=" background:black;border-radius:11px;">Help US To Build ,Share The website</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<h3 class="text-center" style="color:#d00b0b;"> THIS SITE IS CREATED BY ADITAYA SINGH WITH DJANGO ,HTML,CSS,BOOTSTRAP</h3>
{% endblock body %}