{% extends 'base.html'%}

{% block body %}
this is  sell body
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
      <img src="https://thumbs.dreamstime.com/b/done-text-green-grungy-vintage-rectangle-stamp-done-text-green-grungy-vintage-stamp-214435444.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
     <h2 class="text-center" style="color:#d00b0b;">OTHER DETAILS WILL BE SHARED TO YOU SHORTLY VIA SMS OR EMAIL!!!! </h2>
</div>
{% endblock body %}